<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First micropost:</strong>
  <% if @user.microposts.present? %>
    <%= @user.microposts[0].content%>
  <% else %>
    <%= "no posts written" =%>
  <% end %>
  <%#= @user.microposts.present? || "no posts written" %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
